/* Fonts */
@font-face {
    font-family: eurofurence;
    src: url('../fonts/eurof55.ttf')
}

@font-face {
    font-family: lato-regular;
    src: url('../fonts/Lato-Regular.ttf')
}



/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: lato-regular, serif;

    font-size: 1rem;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h2 {
    font-family: lato-regular, serif;
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.84px;
    color: #4f4e4e;
    /* margin: 0; */
    margin: 0 0 10px;
}

p {
    margin: 0;
}

button {
    min-height: 40px;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
    background-color: #fff;
    border: 2px solid #c2c2c2;
    color: #c2c1c1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    transition: .3s all;
    outline: none;
}

button span {
    opacity: 0;
    transition: .3s;
}

button:hover {
    border-color: #58c93a;
    color: #58c93a;
}

button:hover span {
    opacity: 1;
}

hr {
    margin: 30px 0 0;
}


.screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.486);
}

.hide {
    display: none;
}

/* Layout */

.wrapper {
    height: 100%;
    padding: 0 15px;
    max-width: 758px;
    margin: auto;
}

/* Header */

.main-header {
    height: 80px;
    background-color: #292929;
    border-bottom: 6px solid #1e1e1e;
}

.logo {
    font-family: eurofurence, serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
}

.green {
    color: #58c93a;
}

.main-nav {
    height: 100%;
    display: none;
}

.nav-item {
    color: white;
    width: 131px;
    font-family: lato-regular;
    border-right: 1px solid #1d1d1d;
    transition: .3s;
    /* border-bottom: 6px solid #1e1e1e; */
    z-index: 1;
    background-color: #292929;
    box-shadow: -1px 0 0 #1d1d1d;
    font-weight: 700;
}

.nav-item:nth-child(2) {
    border-left: 1px solid #1d1d1d;
}

.nav-item:hover {
    color: #58c93a;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -5px 10px #58c93a;

}



/* .drop-top {
    display: none;
} */

.drop-side {
    position: absolute;
    right: 131px;
    top: 0;
    transition: .3s;
}

.drop-side.hidden {
    transform: translate(524px);
}

.drop-item {
    color: white;
    width: 131px;
    height: 80px;
    border-right: 1px solid #1d1d1d;
    transition: .3s;
    border-bottom: 6px solid #4d4d4d;
    background-color: #5f5f5fe8;
}

.drop-item:hover {
    color: #58c93a;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -5px 10px #58c93a;
}

.drop-item a {
    color: inherit;
}

aside {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #292929;
    transition: transform .3s;
}

aside .nav-item {
    height: 80px;
}

.hamburger {
    height: 40px;
    width: 40px;
    border-radius: 0;
}

.hamburger:hover {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    outline: none;
}

aside.hidden {
    transform: translate(140px)
}

/* Main */

main .wrapper {
    border-left: 1px solid #e1e0e0;
    border-right: 1px solid #e1e0e0;
    padding: 60px 0 0;
}

.blog-item {
    margin-bottom: 60px;
    padding: 0;
    flex-direction: column;
}

.blog-item img {
    object-fit: cover;
    margin-bottom: 30px;
    /* width: 468px; 
    height: 307px;  */
    /* height: 57vw; */
}

.blog-text {
    justify-content: space-between;
    align-items: flex-start;
    /* height: 307px; */
    height: 250px;
    padding: 0 20px;
}

.blog-item h2 {
    height: 51px;
    margin-right: 60px;
}

.blog-item p {
    margin-right: 5px;
    height: 96px;
    overflow: hidden;
}

/* Pagination */

.pagination {
    height: 75px;
    border-top: 1px solid #e1e0e0;
    padding: 0 30px;
}

.pagination a {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-family: lato-bold;
    color: #818181;
    transition: .3s;
}

.pagination a:hover {
    color: #58c93a;
}

/* Footer */

footer {
    height: 315px;
    border-top: 1px solid #e1e0e0;
    background-color: #f8f8f8;
    padding: 80px;
}

footer .logo {
    color: #292929;
    margin-bottom: 32px;
}

footer .copyrights {
    font-size: 0.812rem;
    color: #a6a6a6;
    margin-bottom: 38px;
}

.media-links {
    width: 220px;
}

.media-links a {
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    color: white;
    transition: .3s;
}

.media-links a:first-child:hover {
    background-color: #516fad;
}

.media-links a:nth-child(2):hover {
    background-color: #1d9ceb;
}

.media-links a:nth-child(3):hover {
    background-color: #105bf2;
}

.media-links a:last-child:hover {
    background-color: #e54786;
}

/* modal */

.modal {
    width: 100vw;
    height: 100vh;
    background-color: #5757577c;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-continer {
    background-color: #ffffff;
    width: 700px;
    height: 700px;
    padding: 20px;
}

.btn-modal {
    width: 250px;
}

.modal.hide {
    display: none;
}

.open-menu .screen {
    visibility: visible;
    opacity: 1;
}

/* Helpers */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.z-index {
    z-index: 0;
}


@media (min-width: 1092px) {

    .main-header {
        height: 131px;
    }

    h2 {
        margin: 0 0 58px;
    }

    p {
        margin: 0 0 44px;
    }

    .wrapper {
        margin: auto;
        max-width: 980px;
    }

    .blog-item {
        flex-direction: row;
        margin-bottom: 80px;
        padding: 0 20px;
    }

    .blog-item img {
        width: 460px;
        height: 307px;
        margin: 0 30px 0 0;
        height: unset;
    }

    .blog-text {
        height: 307px;
        padding: 0;
    }

    aside {
        display: none;
    }

    .main-nav {
        display: flex;
    }

    /* .nav-item {
        border: none;
    /* } */

   

    .hamburger {
        display: none;
    }

    hr {
        display: none;
    }

    html {
        font-size: 1rem;
    }

    .modal-content {
        width: 600px;
        height: 500px;
    }

    .screen {
        display: none;
    }


    .drop-top {
        display: flex;
        position: absolute;
        top: 131px;
        transition: .3s;
    }

    .drop-top.hidden {
        transform: translate(0, -524px);
    }
}

@media (min-width: 870px) and (max-width: 1092px) {

    .main-header {
        height: 80px;
    }

    .blog-item {
        flex-direction: row;
        max-height: 307px;
        margin-bottom: 80px;
        padding: 0 20px;
    }

    .blog-item img {
        width: 47%;
        margin: 0 30px 0 0;
        height: unset;
    }

    .blog-text {
        height: 307px;
        padding: 0;
    }

    aside {
        display: none;
    }

    .main-nav {
        display: flex;
    }

    /* .nav-item {
        border: none;
    /* } */

    .wrapper {
        margin: 0 56px;
        max-width: 980px;
    }

    .hamburger {
        display: none;
    }

    hr {
        display: none;
    }

    html {
        font-size: 16px;
    }

    .modal-content {
        width: 600px;
        height: 500px;
    }

    .screen {
        display: none;
    }

    .drop-top {
        display: flex;
        position: absolute;
        top: 80px;
        transition: .3s;
    }

    /* .drop-top.hidden {
        transform: translate(0, -524px);
    } */

}

@media (min-width: 520px) and (max-width: 870px) {

    .blog-item {
        padding: 0;
    }

    .blog-item img {
        height: unset;
    }

    .blog-text {
        height: 307px;
        padding: 20px;
    }

    html {
        font-size: 16px;
    }

    .modal-content {
        width: 600px;
        height: 500px;
    }
}